<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819612318841-gnissvhs8ihif7e0r7vd9suqjqlh5c3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819612318841-gnissvhs8ihif7e0r7vd9suqjqlh5c3q</string>
	<key>API_KEY</key>
	<string>AIzaSyB_11xq83r2uQQRv3xv27oAvN2Q1x6JcHA</string>
	<key>GCM_SENDER_ID</key>
	<string>819612318841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelio.courseHotelio</string>
	<key>PROJECT_ID</key>
	<string>course-hotelio-3d9a0</string>
	<key>STORAGE_BUCKET</key>
	<string>course-hotelio-3d9a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819612318841:ios:e5965aa1b1f3d68dc068a8</string>
</dict>
</plist>